Options -Indexes +FollowSymlinks

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ /$1.php [NC,END]
RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^(.+)\.php$ /$1 [R,L]